#python cache file 
__pycache__/

*$py.class

#VirtualEnvironment 
venv/
env/
.venv/

#Logs
.log

#VScode
.vscode
.tmp

# Environment files
.env

# Ignore large data files
data/*.pdf
data/*.docx
data/*.txt
.claude
.env.example
.planning 
